<div class="container">
  <mat-card-content class="login-container">
    <mat-card-title class="title">Iniciar sesión</mat-card-title>
    <div class="email">
      <mat-card-subtitle>Correo electrónico</mat-card-subtitle>
      <input type="email" matInput placeholder="Ex. pat@example.com" />
    </div>
    <div class="password">
      <mat-card-subtitle>Contraseña</mat-card-subtitle>
      <input type="password" matInput placeholder="Ex. pat@example.com" />
      <a href="#" class="forgot">¿Has olvidado la contraseña?</a>
    </div>
    <button mat-raised-button>Ingresar</button>
  </mat-card-content>
</div>
